/* c1
h1,h2,p{
    color:red;
    text-align: center;
}
h2{
    color: green;
}
#h2{
    color: blue;

}
#p{
    color: blue;
} */
/*body,h3{
    text-align: center;
    color: blue;
}
h1{
    color: red;
}
/* để tô màu thẻ trong div mà ngoài div không đổi màu theo
 dùng div>thẻ{} ví dụ div>h1{}
 div{
     text-align: center;
     width: 500px;
     height:800px;
     background: yellow;

 }*/
 h1{
     color: red;
 }
 h2,h3{
     color: blue;
 }
 #body{
     color: yellow;
     width: 50%;
     height:30vh;
     background-image: url(../multi/Ephoto360.com_15ea2e4719a3f5.jpg);/*hinh nen*/
 }